<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <p><label for="name">Name:</label>
  <input id="name" type="text" name="name" value="Your Name"></p>
  <p><label for="email">Email:</label>
  <input id="email" type="text" name="email" value="Your Email"></p>
  <p><label for="password">Password:</label>
  <input id="password" type="text" name="password" value="Your Password"></p>
  <input type="submit" name="submit" id="submit">
</form>
